<div class="row">
	<fieldset>
		<legend>Transaction summary</legend>
		<div *ngIf="transactionSummary" class="row">
			
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Total</h3>
					</div>
					<div class="panel-body">
						{{transactionSummary.totalAmount}} {{transactionSummary.displayCurrency}}
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Total by customer</h3>
					</div>
					<div class="panel-body">
						{{transactionSummary.totalAmountByCustomer}} {{transactionSummary.displayCurrency}}
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Total fuel</h3>
					</div>
					<div class="panel-body">
						{{transactionSummary.totalFuelAmount}} {{transactionSummary.displayCurrency}}
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Amount per month</h3>
					</div>
					<div class="panel-body">
						{{transactionSummary.amountPerMonth}} {{transactionSummary.displayCurrency}}
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Total fuel</h3>
					</div>
					<div class="panel-body">
						{{transactionSummary.totalFuel}} liters
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Fuel per month</h3>
					</div>
					<div class="panel-body">
						{{transactionSummary.fuelPerMonth}} liters
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Fuel cost per month</h3>
					</div>
					<div class="panel-body">
						{{transactionSummary.fuelCostPerMonth}} {{transactionSummary.displayCurrency}}
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Repair</h3>
					</div>
					<div class="panel-body">
						{{transactionSummary.totalRepairAmount}} {{transactionSummary.displayCurrency}}
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</div>
<div class="row">
	<fieldset>
		<legend>Transaction list</legend>
		<div class="row">
			<div class="form-group col-lg-3 col-md-4 col-xs-12">
				<label>Car</label>
				<select (change)="onCarChange($event.target.value)"
					[(ngModel)]="selectedCar"
					name="selected-car"
					class="form-control">
					<option *ngFor="let car of carList" value="{{car.carKey}}">{{car.brand}} {{car.model}}</option>
				</select>
			</div>
			<div class="form-group col-lg-3 col-md-4 col-xs-12">
                <label>Display currency</label>
                <select (change)="onCurrencyChange($event.target.value)"
					[(ngModel)]="displayCurrency"
					name="displayCurrency"
					class="form-control">
                    <option *ngFor="let currency of currencyList" value="{{currency}}">{{currency}}</option>
                </select>
            </div>
		</div>
		<table class="table table-striped">
			<tr>
				<th>Date</th>
				<th>Description</th>
				<th>Transaction type</th>
				<th>Amount</th>
			</tr>
			<tr *ngFor="let tnx of transactionList">
				<td>{{tnx.executionDate}}</td>
				<td>{{tnx.description}}</td>
				<td>{{tnx.transactionTypeName}}</td>
				<td class="text-right">{{tnx.amount|number:'.2'}} {{tnx.currency}}</td>
			</tr>
		</table>
	</fieldset>
</div>