<div class="row">
    <form (ngSubmit)="submitTransaction(transactionForm.value)" #transactionForm="ngForm">
        <div class="col-md-6" >
            <div class="form-group col-md-8">
                <label>
                    Car
                </label>
                <select [(ngModel)]="transaction.carKey" name="carKey" class="form-control" >
                    <option *ngFor="let car of carList" value="{{car.carKey}}">{{car.brand}} {{car.model}}</option>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label>
                    Execution date
                </label>
                <div class="input-group date">
                    <input [(ngModel)]="transaction.executionDate" name="executionDate" value={{transaction.executionDate}} type="text" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group col-md-8">
                <label>
                    Transaction type
                </label>
                <select [(ngModel)]="transaction.transactionTypeKey" (change)="transactionTypeChanged($event.target.value)" name="transactionTypeKey" class="form-control">
                    <option *ngFor="let type of transactionTypeList" value="{{type.transactionTypeKey}}">{{type.name}}</option>
                </select>
            </div>
            <div class="form-group col-md-8">
                <label>
                    Payer
                </label>
                <span [hidden]="!isCreditorShown()">
                    <input [(ngModel)]="customerName" name="customeName" value="{{customerName}}" [disabled]="isCreditorShown()" type="text" class="form-control" />
                </span>
                <span [hidden]="isCreditorShown()">
                    <select [(ngModel)]="transaction.customerKey" name="payerKey" class="form-control">
                        <option *ngFor="let payer of payerList" value="{{payer.customerKey}}">{{payer.firstName}} {{payer.lastName}}</option>
                    </select>
                </span>
            </div>
            <div [hidden]="!isCreditorShown()" id="creditorPanel" class="form-group col-md-8">
                <label>
                    Creditor
                </label>
                <select [(ngModel)]="transaction.creditorKey" name="creditorKey" class="form-control">
                    <option *ngFor="let creditor of creditorList" value="{{creditor.customerKey}}">{{creditor.firstName}} {{creditor.lastName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group col-md-8">
                <label>Amount</label>
                <input [(ngModel)]="transaction.amount" 
                    name="amount"
                    (change)="amountChanged($event)" 
                    (keyup)="amountChanged($event)" 
                    type="text"
                    class="form-control amount"/>
            </div>
            <div class="form-group col-md-4">
                <label>Currency</label>
                <select [(ngModel)]="transaction.currency" name="currency" class="form-control">
                    <option *ngFor="let currency of currencyList" value="{{currency}}">{{currency}}</option>
                </select>
            </div>
            <div class="form-group col-md-12">
                <label>Description</label>
                <input [(ngModel)]="transaction.description" name="description" type="text" class="form-control"/>
            </div>
            
            <fieldset [hidden]="!isFuelShown()" id="fuelPanel" class="form-group col-md-12">
                <legend>Fuel</legend>
                <div class="form-group col-md-4">
                    <label>Quantity</label>
                    <input [(ngModel)]="transaction.fuel.quantity" 
                        name="fuel.quantity" 
                        (change)="fuelQuantityChanged($event)" 
                        (keyup)="fuelQuantityChanged($event)" 
                        type="text"
                        class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                    <label>Type</label>
                    <input [(ngModel)]="transaction.fuel.type" 
                        name="fuel.type" 
                        (change)="fuelTypeChanged($event)" 
                        (keyup)="fuelTypeChanged($event)" 
                        type="text"
                        class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                    <label>Cost</label>
                    <input [(ngModel)]="transaction.fuel.cost" 
                        name="fuel.cost" 
                        (change)="fuelCostChanged($event)" 
                        (keyup)="fuelCostChanged($event)" 
                        type="text"
                        class="form-control"/>
                </div>
            </fieldset>
        </div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary">Submit transaction</button>
        </div>
    </form>
</div>