<div class="row">
	<fieldset>
		<legend>Transaction summary</legend>
		<div *ngIf="transactionSummary" class="row">
			<div class="col-md-4">
				<label>
					Total
				</label>
				<div>{{transactionSummary.totalAmount}} {{transactionSummary.displayCurrency}}</div>
			</div>
			<div class="col-md-4">
				<label>
					Total by customer
				</label>
				<div>{{transactionSummary.totalAmountByCustomer}} {{transactionSummary.displayCurrency}}</div>
			</div>
			<div class="col-md-4">
				<label>
					Total fuel
				</label>
				<div>{{transactionSummary.totalFuelAmount}} {{transactionSummary.displayCurrency}}</div>
			</div>
		</div>
	</fieldset>
</div>