<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="template/content-template">
<head>
	<title th:text="#{msg.transaction.new}">New transaction</title>
</head>
<body>
	<div layout:fragment="headerPanel">
		<h4 th:text="#{msg.transaction.new}">New transaction</h4>
	</div>
	
	<div layout:fragment="leftMenu">
		<span>Menu</span>
	</div>
	
	<div layout:fragment="data">
		<form method="POST" th:object="${transaction}">
			<div class="col-md-6" >
				<div class="form-group col-md-8">
				  	<label th:for="*{carKey}" 
				  		th:text="#{msg.car}">
				  		Car
				  	</label>
				  	<select class="form-control" th:field="*{carKey}">
				  		<option th:each="car : ${carList}" 
				        	th:value="${car.carKey}" 
				        	th:text="${car.brand} + ' ' + ${car.model}"/>
				  	</select>
				</div>
				<div class="form-group col-md-8">
					<label th:for="*{executionDate}" 
				  		th:text="#{msg.transaction.executionDate}">
				  		Execution date
				  	</label>
					<div class='input-group date' id='transactionExecutionDate'>
                    	<input type='text' class="form-control" th:field="*{executionDate}" />
                    	<span class="input-group-addon">
                        	<span class="glyphicon glyphicon-calendar"></span>
                    	</span>
                	</div>
				</div>
				<div class="form-group col-md-8">
				  	<label th:for="*{transactionTypeKey}" 
				  		th:text="#{msg.transactionType}">
				  		Transaction type
				  	</label>
				  	<select id="transactionType" class="form-control" th:field="*{transactionTypeKey}">
				  		<option th:each="type : ${transactionTypeList}" 
				        	th:value="${type.transactionTypeKey}" 
				        	th:text="#{msg.transactionType. + ${type.name}}"/>
				  	</select>
				</div>
			</div>
			<div class="col-md-6" >
				<div class="form-group col-md-8">
					<label th:for="*{amount}" th:text="#{msg.amount}">Amount</label>
				  	<input id="amount" type="text" class="form-control amount" th:field="*{amount}"/>
				</div>
				<div class="form-group col-md-4">
					<label th:for="*{currency}" th:text="#{msg.currency}">Currency</label>
					<select class="form-control" th:field="*{currency}">
				  		<option th:each="currency : ${currencyList}" 
				        	th:value="${currency}" 
				        	th:text="${currency}"/>
				  	</select>
				</div>
				<div class="form-group col-md-12">
					<label th:for="*{description}" th:text="#{msg.description}">Description</label>
				  	<input id="description" type="text" class="form-control" th:field="*{description}"/>
				</div>
				
				<fieldset id="fuelPanel" class="form-group col-md-12" hidden="true">
					<legend th:text="#{msg.fuel}">Fuel</legend>
					<div class="form-group col-md-4">
						<label th:for="*{fuel.quantity}" th:text="#{msg.quantity}">Quantity</label>
					  	<input id="fuelQuantity" type="text" class="form-control" th:field="*{fuel.quantity}"/>
					</div>
					<div class="form-group col-md-4">
						<label th:for="*{fuel.type}" th:text="#{msg.type}">Type</label>
					  	<input id="fuelType" type="text" class="form-control" th:field="*{fuel.type}"/>
					</div>
					<div class="form-group col-md-4">
						<label th:for="*{fuel.cost}" th:text="#{msg.cost}">Cost</label>
					  	<input id="fuelCost" type="text" class="form-control amount" th:field="*{fuel.cost}"/>
					</div>
				</fieldset>
			</div>
			<div class="form-group col-md-12">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button type="submit" class="btn btn-primary" th:text="#{msg.transaction.submitCreate}">Submit transaction</button>
			</div>
		</form>
	</div>
	<th:block layout:fragment="script">
		<script>
	    	$(document).ready(function() {
	    		switchFuelPanel();
	    	
	        	$('#transactionExecutionDate').datetimepicker({
	            	locale: 'ru',
	            	format: 'YYYY-MM-DD'
	            });
	            $('#fuelQuantity').mask("##0.00", {reverse: true});
	            $('#fuelType').mask("AAAA", {
	            	reverse: true,
	            	translation: {
	            		'A' : {
	            			pattern: /.{1,4}/
	            		}
	            	}
	            	});
	            
	            $("#transactionType").change(function() {
	            	switchFuelPanel();
				});
	            
	            $("#fuelCost, #fuelQuantity").keyup(function() {
	            	var cost = $("#fuelCost").val();
	            	var quantity = $("#fuelQuantity").val();
	            	$("#amount").val((cost * quantity).toFixed(2));
	            });
				
				$("#fuelType, #fuelQuantity").keyup(function() {
					var quantity = $("#fuelQuantity").val();
					var lt = " литра ";
					if (quantity.match(/[\.,]/)) {
						lt = " литра ";
					} else if (quantity.match(/([056789]|(1[1-9]))$/)) {
						lt = " литров ";
					} else if (quantity.match(/\d*[1]$/)) {
						lt = " литр ";
					}
					var desc = quantity + lt + "бензина '" + $("#fuelType").val() + "'";
					$("#description").val(desc);
				});
				
				function switchFuelPanel() {
					var selectedType = $("#transactionType").find(":selected").attr("value");
	            	if (selectedType == 1) {
	            		enableFuelPanel(true);
	            	} else {
	            		enableFuelPanel(false);
	            		resetFuelPanel();
	            	}
				}
				
				function resetFuelPanel() {
					$("#fuelQuantity").val("");
					$("#fuelType").val("");
					$("#fuelCost").val("");
					$("#amount").val("");
					$("#description").val("");
				}
				
				function enableFuelPanel(enabled) {
					$("#amount").prop("readonly", enabled);
					$("#description").prop("readonly", enabled);
					$("#fuelQuantity").prop("disabled", !enabled);
					$("#fuelType").prop("disabled", !enabled);
					$("#fuelCost").prop("disabled", !enabled);
					$("#fuelPanel").prop("hidden", !enabled);
				}
	       	});
    	</script>
	</th:block>
</body>

</html>